.about {
  width: 80%;
  /* border: 2px solid rgb(189, 12, 115); */
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  margin-left: 130px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.title{
    color: #316685;
    font-size: 3.5rem;
    text-decoration: underline;
}
.partsof{
   color: #316685;
    font-size: 1.5rem; 
    text-align:left; 
}
.para{
    text-align: left;
    font-size: 20px;
    color:gray;
}
.par{
    text-align: left;
    font-size: 30px;
    color: rgb(240, 35, 35);
}
.partsof1{
   color: #316685;
    font-size: 1.2rem; 
    text-align:left; 
}
.img12{
    width: 80%;
}