.login {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  background-color: rgb(199, 88, 125);
}
.tit {
  color: rgb(19, 56, 80);
  text-decoration:underline;
}

.tostar {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 2em;
}
.label {
  margin-bottom: 10px;
  margin-top: 20px;
  color:rgb(199, 88, 125) ;
}
input {
  border: 1.5px solid #ededed;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 10px;
}
button {
  margin-top: 2em;
  padding: 1em;
  border-radius: 25px;
  font-size: 1rem;
  background-color: rgb(19, 56, 80);
  color: #fff;
  border: none;
}
