* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 190, 208);
}

.main {
  color: #316685;
  text-align: center;

  margin-top: 10%;
 font-size: 2.5rem;
  justify-content: center;
 
}
